<div class="main">
  <div class="main-header">
    <h1>All projects</h1>
  </div>
  <div class="divTable">
    <div class="divTableRow projects-line">

      <!-- BEGIN OF list all projects for concrete user -->
      <% @project_tables.each do |project_table| %>
        <a href="<%= refinery.project_tables_project_table_path(project_table) %>">
          <div class="divTableCell" style="background-color: <%= project_table.project_color %>">
            <div class="text-in-project">
              <p class="project-name"><%= raw project_table.title %></p>
              <p class="number-of-devs"> <%= project_table.users.size == 0 ? "8d" : project_table.users.size %>
                developer<%= project_table.users.size == 1 ? "" : "s" %></p>
            </div>
          </div>
        </a>
      <% end %>
      <!-- END OF list all projects for concrete user -->

      <% if current_refinery_user.try(:username).present? %>
        <a href="<%= refinery.project_tables_project_tables_path %>">
          <div class="divTableCell add-new-project">
            <div class="plus-wrap">
              <p class="plus">&#10010;</p>
              <p class="new-project-text">Create new project</p>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>