.left-info {
    width: 50%;
    background: grey;
    box-sizing: border-box;
    padding: 50px;
    background: url("/assets/background.jpg");
    background-size: cover;
}

.right-form {
    box-sizing: border-box;
    padding-top: 75px;
    padding-left: 100px;
}

.logo {
    width: 100px;
}