<h1> Login form </h1>
<div class="form-wrapper">
  <%= form_for resource, :as => resource_name,
                         :url => refinery.authentication_devise_user_session_path do |f| %>
    <div class='field'>
      <%= f.label :login, "Username"%>
      <%= f.text_field :login, :class => 'input-type', :id => 'text', :placeholder => 'your username', :required => 'required', :autofocus => 'autofocus' %>
    </div>
    <br>
    <div class='field'>
      <%= f.label :password %>
      <%= f.password_field :password, :autocomplete => 'off', :class => 'input-type', :id => 'password', :type => 'password', :placeholder => 'your password', :required => 'required' %>
    </div>
    <br>
    <input type="submit" value="Login">

  <% end -%>
</div>
