<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: <%= @project_table.project_color if @project_table.present? && @project_table.id.present? %>">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= refinery.root_path %>"><img class="logo" src="/assets/todo-logo-black.svg" alt="logo"></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <div class="row">
        <div class="col-sm">
          <li class="nav-item all-projects">
            <a class="nav-link" href="<%= refinery.root_path %>">All projects<span class="sr-only"><%= @project_table.present? && @project_table.title.present? ? "(#{@project_table.title})" : ""%></span></a>
          </li>
          <% if current_refinery_user.try(:username).present? && @project_table.present? && @project_table.id.present? %>
            <li class="nav-item dropdown project">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink1"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Project
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                <a class="dropdown-item" href="<%= refinery.project_tables_project_tables_path %>">New project</a>
                <a class="dropdown-item" href="<%= refinery.project_tables_project_tables_path(:project_table_id => @project_table.id) %>">Edit project</a>
              </div>
            </li>
          <% end %>
        </div>
        <div class="col-sm">
          <% if @project_table.present? && @project_table.title.present? %>
            <li class="nav-item name-of-project">
              <a class="nav-link" href="<%= refinery.project_tables_project_table_path(@project_table) %>"><%= @project_table.title %></a>
            </li>
          <% end %>
        </div>
        <div class="col-sm">
          <li>
            <% if current_refinery_user.try(:username).present? %>
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_refinery_user.name %>
              </a>
              <div class="dropdown-menu no-left" aria-labelledby="navbarDropdownMenuLink">
                <!--SMEROVAT NA LOGIN-->
                <%= link_to 'Log Out',
                            ::Refinery::Core.refinery_logout_path,
                            :class => "dropdown-item",
                            :id => 'logout' if ::Refinery::Core.refinery_logout_path.present?%>
              </div>
            <% else %>
              <%= link_to 'Log In',
                          refinery.login_path,
                          :class => "dropdown-item",
                          :id => 'login' if refinery.logout_path.present? %>
            <% end %>
          </li>
        </div>
      </div>
    </ul>
  </div>
</nav>