<% if display_site_bar? %>
  <% unless admin? # all required JS included by backend.  %>
    <% content_for :stylesheets, stylesheet_link_tag('refinery/site_bar') unless !!local_assigns[:exclude_css] %>
    <%= yield(:stylesheets) unless local_assigns[:head] || local_assigns[:exclude_css] %>
  <% end -%>
  <% if current_refinery_user.superadmin? %>
    <div id='site_bar'>
      <div id='site_bar_content' class='clearfix'>

        <%= link_to 'http://refinerycms.com', :id => 'site_bar_refinery_cms_logo', :target => '_blank' do %>
          <%= image_tag 'refinery/refinery-cms-logo.svg', alt: 'Refinery CMS™' %>
        <% end %>

        <div id='editor_switch'>
          <%= site_bar_switch_link -%>
          <%= site_bar_edit_link -%>
        </div>

        <div id='site_bar_branding'>
        <span id='site_bar_company_name'>
          <%= Refinery::Core.site_name %>
        </span>

          <%= link_to t('.log_out', site_bar_translate_locale_args),
                      ::Refinery::Core.refinery_logout_path,
                      :id => 'logout' if ::Refinery::Core.refinery_logout_path.present? %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
