html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100%;
}

h1, h2, h3, p {
    padding: 0px;
    margin: 0px;
}

h1 {
    padding-bottom: 25px;
}

.left-info {
    width: 50%;
    background: grey;
    box-sizing: border-box;
    padding: 50px;
    background: url("../assets/background.jpg");
    background-size: cover;
}

.right-form {
    box-sizing: border-box;
    padding-top: 75px;
    padding-left: 100px;
}

.logo {
    width: 100px;
}

.app-description-text {
    font-size: 40px;
    font-weight: bold;
    margin-top: 200px;
    width: 250px;
    transition: 0.25s;
}

.app-description-text span {
    background: rgba(255, 255, 255, 0.8);
}

h1 {
    font-size: 25px;
}

.redirect-text {
    font-size: 16px;
}

.main-wrapper {
    width: 100%;
}

.main {
    z-index: 1;
    padding: 25px;
}

.main-header {
    padding-bottom: 25px;
}

body.modal-visible .page-wrapper {
    filter: blur(3px) grayscale(100%);
    transition: filter .5s ease;
}

body.modal-visible {
    overflow: hidden;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.1);
}

body.modal-visible .modal {
    visibility: visible;
}

.modal-buttonns-wrap {
    text-align: center;
}

.modal-buttonns-wrap button:first-child {
    margin-right: 50px;
}

.modal-content {
    margin: auto;
    padding: 16px;
    width: 800px;
    max-width: 800px;
    min-height: 500px;
    transform: scale(0);
    transition: transform 1s ease;
    border-radius: 5px;
    background: white;
    text-align: center;
    font-family: sans-serif;
}

.modal-content p {
    font-size: 20px;
    margin-top: 25%;
    margin-bottom: 25px;
}

body.modal-visible .modal-content {
    transform: scale(1);
}

.modal-button {
    width: 275px;
    height: 60px;
    border: none;
    transition: 0.25s;
    border-radius: 5px;
    background-color: grey;
    -webkit-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    -moz-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    box-shadow: 0px 5px 5px 0px rgba(194,194,194,1);
    transition: 0.25s;
    color: white;
}

.modal-button:hover {
    cursor: pointer;
    background-color: #626262;;
}

.modal-button:nth-of-type(2), .delete-button {
    background-color: #FE1A1A;
}

.modal-button:nth-of-type(2):hover {
    background-color: #DC0000;
}

.delete-button:hover {
    background-color: #DC0000;
}

.main-wrapper {
    height: 100%;
    margin-bottom: 200px;
}

@media (max-width: 970px) {
    .right-form {
        padding-left: 5%;
    }

    .app-description-text {
        font-size: 25px;
        width: 120px;
    }
}

@media (max-width: 680px) {
    body {
        flex-wrap: wrap;
        justify-content: center;
    }

    .left-info {
        height: 115px;
        width: 100%;
        flex: auto;
    }

    .app-description-text {
        display: none;
    }

    .right-form {
        padding: 0;
    }
}

.input-type {
    border: none;
    width: 275px;
    height: 60px;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    background: #C4C4C4;
    transition: 0.25s;
    display: block;
}

.custom-select {
    width: 275px;
    height: 60px;
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.clear-button {
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: white;
    padding: 5px 10px;
    background-color: grey;
    transition: 0.25s;
    margin: 5px 0;
}

.clear-button:hover {
    cursor: pointer;
    background-color: #626262;
}

#responsible-people {
    float: initial;
    display: initial;
}

.btn-outline-secondary {
    height: 60px;
    background-color: grey;
    transition: 0.25s;
    color: white;
    border-radius: 0 5px 5px 0;
}

.btn-outline-secondary:hover {
    cursor: pointer;
    background-color: #626262;
}

.input-type:focus {
    outline: none;
    background: lightgray;
    -webkit-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    -moz-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    box-shadow: 0px 5px 5px 0px rgba(194,194,194,1);
}

input[type="submit"] {
    width: 275px;
    height: 60px;
    border: none;
    margin-top: 10px;
    margin-bottom: 50px;
    transition: 0.25s;
    border-radius: 5px;
    background-color: grey;
    -webkit-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    -moz-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    box-shadow: 0px 5px 5px 0px rgba(194,194,194,1);
    transition: 0.25s;
    color: white;
}

input[type="submit"]:hover {
    background-color: #626262;
    cursor: pointer;
}

input[type="submit"]:focus {
    outline: none;
}

label {
    font-size: 12px;
}

form {
    margin-top: 50px;
}

.form-parts:nth-child(1) {
    width: 325px;
}

.form-parts:nth-child(2) {
    width: 350px;
}

.form-parts:nth-child(3) {
    width: 500px;
}

.divided-form {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.form-check-label {
    background: #C4C4C4;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
}

.active {
    background: #626262;
    color: white;
}

.btn-group {
    margin-bottom: 40px;
}

textarea {
    background: #C4C4C4;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 275px;
    height: 150px;
    border: none;
}

textarea:focus {
    outline: none;
    background: lightgray;
    -webkit-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    -moz-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    box-shadow: 0px 5px 5px 0px rgba(194,194,194,1);
    border: none;
}

.files {
    display: block;
}

.fileList {
    display: block;
    padding: 0;
    margin: 10px 0 0 0;
}

.calendar {
    width: 275px;
    height: 60px;
}

.delete-task-button {
    position: fixed;
    left: 20px;
    bottom: 50px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    width: 150px;
    padding-top: 15px;
    height: 50px;
    background: #C4C4C4;
    -webkit-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    -moz-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    box-shadow: 0px 5px 5px 0px rgba(194,194,194,1);
    transition: 0.25s;
}

.btn-file:hover {
    cursor: pointer;
    background: #626262;
    color: white;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-submit-absolute {
    position: fixed;
    bottom: 25px;
    left: 25px;
    width: 99%;
    z-index: 3;
}

.pick-option-input {
    opacity: 0;
    position: absolute;
}

.label-button {
    border: 1px solid black;
}

.label-button:hover {
    cursor: pointer;
}

.form-submit-absolute input {
    margin: 0 0 0 25px;
}

.form-submit-absolute .row {
    display: flex;
    align-items: center;
}

.form-submit-absolute .col:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.new-project {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
}

input#project-name {
    width: 100%;
}

.outer-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.first-wrap {
    width: 325px;
}

.second-wrap {
    width: 375px;
    vertical-align: top;
    margin-left: 50px;
}

.second-wrap .project-name {
    width: 30%;
    display: inline-block;
}

.first-wrap .people-in-project {
    width: 50%;
}

.first-wrap > div, .second-wrap >div {
    margin-bottom: 15px;
}

.color-pick {
    height: 100px;
    padding: 1em;
    border-radius: 5px;
    background: #C4C4C4;
    width: 100%;
    transition: 0.25s;
}

.color-pick > p {
    display: inline-block;
    font-family: sans-serif;
    color: black;
}

.color-pick:hover {
    background-color: lightgray;
    -webkit-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    -moz-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    box-shadow: 0px 5px 5px 0px rgba(194,194,194,1);
}

.new-project > div input {
    display: inline-block;
}

input#project-name::placeholder, input.people-in-project::placeholder {
    color: black;
}

.add-user, .remove-user {
    display: inline-block;
    width: 150px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightgray;
    transition: 0.25s;
}

.button-wrap {
    width: 100%;
    display: grid;
    position: fixed;
    bottom: 15px;
    left: 5px;
}

.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
}

.radio-item label:hover {
    cursor: pointer;
}

.radio-item input[type='radio'] {
    display: none;
}

.radio-item label {
    color: #666;
    font-weight: normal;
    transition: 0.25s;
}

.radio-item label[for=grey]:before {
    border: 5px solid #F7F7F7;
}

.radio-item label[for=yellow]:before {
    border: 5px solid yellow;
}

.radio-item label[for=orange]:before {
    border: 5px solid orange;
}

.radio-item label[for=red]:before {
    border: 5px solid red;
}

.radio-item label[for=purple]:before {
    border: 5px solid purple;
}

.radio-item label[for=blue]:before {
    border: 5px solid blue;
}

.radio-item label[for=green]:before {
    border: 5px solid green;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    background-color: transparent;
}

.radio-item input#grey:checked + label:after {
    background: #F7F7F7;
}

.radio-item input#yellow:checked + label:after {
    background: yellow;
}

.radio-item input#orange:checked + label:after {
    background: orange;
}

.radio-item input#red:checked + label:after {
    background: red;
}

.radio-item input#purple:checked + label:after {
    background: purple;
}

.radio-item input#blue:checked + label:after {
    background: blue;
}

.radio-item input#green:checked + label:after {
    background: green;
}

.radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
}

input, textarea {
    font-size: 16px;
}

@media (max-width: 800px) {
    .first-wrap {
        margin: auto;
    }

    .second-wrap {
        margin: auto;
        vertical-align: top;
    }
}

@media (max-width: 860px) {
    .form-submit-absolute {
        position: initial;
        width: initial;
        padding: 0;
        margin: 25px auto;
    }

    .form-submit-absolute a {
        display: block;
        text-align: center;
    }

    .form-submit-absolute input {
        margin: auto;
    }
}

.col-sm {
    display: flex;
}

.col-sm:nth-of-type(2) {
    justify-content: center;
}

.col-sm:nth-of-type(3) {
    justify-content: flex-end;
}

.navbar-nav, .row {
    width: 100%;
}

@media (max-width: 991px) {
    .col-sm {
        display: initial;
        width: 100%;
        -webkit-flex-basis: initial;
        flex-basis: initial;
    }

    .col-sm a {
        text-align: center;
    }
}

.tasks-group {
    display: flex;
    flex-wrap: wrap;
}

.task-item {
    background: #DEDEDE;
    width: 300px;
    height: 120px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.25s;
    color: black;
    margin-right: 20px;
    margin-bottom: 20px;
}

.task-create-task {
    background: #626262;
    width: 300px;
    height: 120px;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.task-create-task h3 {
    text-align: center;
    height: initial;
}

.task-create-task:hover {
    text-decoration: none;
    color: white;
    -webkit-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    -moz-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    box-shadow: 0px 5px 5px 0px rgba(194,194,194,1);
    background: grey;
}

.task-item:hover {
    cursor: pointer;
    background: lightgrey;
    -webkit-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    -moz-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1);
    box-shadow: 0px 5px 5px 0px rgba(194,194,194,1);
    text-decoration: none;
    color: black;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 65px;
    flex-grow: 1;
    flex-shrink: 0;
}

.task-users {
    width: 60%;
    display: flex;
}

.task-due-date {
    width: 40%;
    background: #626262;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    border-radius: 5px;
}

.task-users-user {
    background: #626262;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: white;
    font-size: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.divTableRow {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.divTable a:visited, .divTable a:hover, .divTable a:link, .divTable a:focus {
    color: black;
}

.divTableCell {
    font-family: sans-serif;
    text-align: left;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 0.2rem;
    border: 1px solid black;
    margin-right: 40px;
    margin-bottom: 35px;
    position: relative;
}

.divTableCell .project-name {
    font-size: 20px;
    font-weight: bold;
}

.text-in-project {
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.add-new-project-wrap {
    text-align: left;
}

.plus-wrap {
    width: 100%;
    height: 100%;
}

.plus-wrap .plus {
    margin-top: 45px;
    font-size: 70px;
}

.add-new-project {
    text-align: center;
}