<!DOCTYPE html>
<html>
<head>
  <meta charset='<%= ::Rails.application.config.encoding %>' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%= yield :meta %>
  <title><%= Refinery::Core.site_name -%> - Refinery</title>
  <%= csrf_meta_tags %>
  <style>
    .login_body{
      display: flex;
      margin: unset !important;
      padding: unset !important;
    }
    .left-info {
      width: 50%;
      background: grey;
      box-sizing: border-box;
      padding: 50px;
      background: url("../assets/background.jpg");
      background-size: cover;
    }

    .right-form {
      margin: unset !important;
      box-sizing: border-box;
      padding-top: 75px;
      padding-left: 100px;
    }

    .logo {
      width: 100px;
    }

    .app-description-text {
      font-size: 40px;
      font-weight: bold;
      margin-top: 200px;
      width: 250px;
      transition: 0.25s;
      line-height: 1.1em;
    }

    h1, h2, h3, p {
      padding: 0px;
      margin: 0px;
    }

    h1 {
      font-size: 25px !important;
      padding-bottom: 25px !important;
      font-weight: bold !important;
      color: black !important;
      border-bottom: unset !important;
      text-align: left !important;
    }

    .app-description-text span {
      background: rgba(255, 255, 255, 0.8);
    }

    #new_authentication_devise_user{
      margin-top: 50px;
    }

    #new_authentication_devise_user .clearfix{
      display: unset !important;
    }

    .input-type {
      border: none;
      width: 275px;
      height: 60px;
      box-sizing: border-box;
      padding: 15px;
      border-radius: 5px;
      background: #C4C4C4;
      transition: 0.25s;
      display: block;
    }

    label {
      font-size: 12px !important;
      font-weight: normal !important;
    }

    input[type="submit"] {
      width: 275px !important;
      height: 60px !important;
      border: none !important;
      margin-top: 10px !important;
      margin-bottom: 50px !important;
      transition: 0.25s !important;
      border-radius: 5px !important;
      background-color: grey !important;
      -webkit-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1) !important;
      -moz-box-shadow: 10px 10px 36px 1px rgba(194,194,194,1) !important;
      box-shadow: 0px 5px 5px 0px rgba(194,194,194,1) !important;
      transition: 0.25s !important;
      color: white !important;
    }

      #flash_container {
        padding-right: 100px;
      }

  </style>
  <%= stylesheet_link_tag 'refinery/refinery' %>
  <% visual_editor_stylesheets.each do |css| %>
    <%= stylesheet_link_tag css.path, css.options %>
  <% end %>
  <% custom_stylesheets.each do |css| %>
    <%= stylesheet_link_tag css.path, css.options %>
  <% end %>
  <%= yield :stylesheets %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= render 'refinery/admin/javascripts' %>
</head>
  <body class='login <%= I18n.locale %> login_body'>
    <div id='tooltip_container'></div>
    <div class="left-info">
      <img class="logo" src="/assets/todo-logo-black.svg" alt="logo">
      <p class="app-description-text">
        <span>Easy, intuitive, fully responsive and FREE todo application</span>
      </p>
    </div>
    <div id="login_container" class="clearfix right-form">
      <div id="page_container">
        <div id="page">
          <div id="content" class="clearfix">
            <div id="flash_container">
              <%= render '/refinery/message' %>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

